extends layout 
block content
  .row.banner
    .col-12-car
      h1 Cars
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8

      each car in cars
        .card-car-block
          .card-block-car
            h4
            a(href="/cars/car")= car.brand + "   " + car.modelname + "   "
            br
            br
            span= car.type + "    "
            span= car.engine + "         " 
            span= car.seats + "         "
            span= car.seattype + "         " 
            span= car.miles + "         " 
            span= car.rating
            
           
     

    .col-12.col-md-4
      p.lead.padder Tesla, the electric vehicle pioneer, has truly revolutionized the automotive industry. With its commitment to sustainability and cutting-edge technology, Tesla has become synonymous with innovation and the future of transportation. Tesla's electric cars, such as the Model S, Model 3, Model X, and Model Y, have captured the imagination of consumers worldwide. The sleek and stylish designs, combined with exceptional performance, make Tesla vehicles a symbol of luxury and eco-consciousness. From Ludicrous Mode acceleration to Autopilot self-driving capabilities, Tesla cars offer a driving experience like no other.